Repository jbenner-radham/node-readme-md-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.yaml:

---
'*.js': eslint --fix
package.json: sort-package-json

Add packageManager in package.json detection
  CHANGELOG.md
  bin/cli.js
  doc/README.md
  lib/get-package-manager.js
  lib/index.js
Due: eslint --fix

Update question wording
  CHANGELOG.md
  bin/cli.js
Due: eslint --fix

Rename demo GIF and update alt text
  README.md
  images/demo.gif
Due: none

Add demo script
  package.json
Due: sort-package-json

Update wording in demo to match app
  demo.cast
  images/demo.gif
Due: none

Prepare for release
  CHANGELOG.md
Due: none

v0.19.0
  package.json
Due: sort-package-json

Upgrade eslint dependencies
  package.json
  yarn.lock
Due: sort-package-json

Upgrade husky dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade sort-package-json dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade globals dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade execa dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade inquirer dependency
  package.json
  yarn.lock
Due: sort-package-json

Downgrade @types/node dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade readme-md dependency
  package.json
  yarn.lock
Due: sort-package-json

Fix dependency ReDoS vulnerability
  CHANGELOG.md
  yarn.lock
Due: none

v0.19.1
  package.json
Due: sort-package-json

Switch from yarn to pnpm
  .github/workflows/ci.yaml
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: sort-package-json

Replace yarn with pnpm in tests
  test/integration/readme-md-cli.spec.js
Due: eslint --fix

Replace pnpm with npm in tests
  test/integration/readme-md-cli.spec.js
Due: eslint --fix

Change back to pnpm in tests
  .github/workflows/ci.yaml
  test/integration/readme-md-cli.spec.js
Due: eslint --fix

Upgrade camelcase-keys
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Update changelog
  CHANGELOG.md
Due: none

Upgrade @types/node dependency
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Upgrade globals dependency
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Upgrade lint-staged dependency
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Upgrade sort-package-json dependency
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Upgrade meow dependency
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Update eslint specifier
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Migrate from jasmine to vitest
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/helpers/reporter.js
  test/integration/readme-md-cli.spec.js
  test/support/jasmine.json
  test/unit/GithubUrl.spec.js
  test/unit/directory-exists.spec.js
  test/unit/get-default-git-branch.spec.js
  test/unit/get-github-actions-workflows.spec.js
  test/unit/index.spec.js
  test/unit/load-config-template.spec.js
Due: eslint --fix, sort-package-json

Update execa dependency version
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Remove Node 18 from the GH Actions test matrix
  .github/workflows/ci.yaml
  package.json
Due: sort-package-json
