Repository jbenner-radham/node-readme-md-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

Update changelog and docs
  CHANGELOG.md
  doc/README.md
Due: none

Prepare for release
  CHANGELOG.md
Due: none

v0.15.0
  package.json
Due: sort-package-json

Add repository shortcut syntax support
  CHANGELOG.md
  doc/README.md
  lib/GithubUrl.js
  lib/index.js
  package.json
  yarn.lock
Due: eslint --fix, sort-package-json

Add GithubUrl spec
  test/unit/GithubUrl.spec.js
Due: eslint --fix

Make license badge alt text more descriptive
  CHANGELOG.md
  lib/badges/LicenseBadge.js
Due: eslint --fix

v0.16.0
  package.json
Due: sort-package-json

Add LICENSE.rst detection
  CHANGELOG.md
  doc/README.md
  lib/License.js
Due: eslint --fix

Support lowercase license filenames
  CHANGELOG.md
  doc/README.md
  lib/License.js
Due: eslint --fix

Fix section link in docs
  doc/README.md
Due: none

Add interactive mode
  .config/readme-md/sections/usage.md
  CHANGELOG.md
  README.md
  bin/cli.js
  lib/get-package-manager.js
  lib/index.js
  lib/is-github-repository.js
  lib/read-file.js
  package.json
  yarn.lock
Due: eslint --fix, sort-package-json

Change quote question to radio prompt
  bin/cli.js
Due: eslint --fix

Fix mistake in changelog
  CHANGELOG.md
Due: none

Fix Git branch detection
  CHANGELOG.md
  lib/get-default-git-branch.js
Due: eslint --fix

Change to inquirer-radio-prompt & bugfixes
  bin/cli.js
  package.json
  yarn.lock
Due: eslint --fix, sort-package-json

Add write to README.md feature
  bin/cli.js
Due: eslint --fix

Add reference links
  lib/get-default-git-branch.js
Due: eslint --fix

Refine GitHub Actions badge eligibility check
  bin/cli.js
  doc/README.md
  lib/get-github-actions-workflow.js
  lib/get-github-actions-workflows.js
  lib/index.js
  test/unit/get-github-actions-workflows.spec.js
Due: eslint --fix

Refactor execa commands
  test/integration/readme-md-cli.spec.js
Due: eslint --fix

Add demo gif to readme
  README.md
  images/readme-md-demo.gif
Due: none

Update demo gif
  images/readme-md-demo.gif
Due: none

Update demo gif and add asciinema cast file
  demo.cast
  images/readme-md-demo.gif
Due: none

Remove inquirer-radio-prompt
  bin/cli.js
  package.json
  yarn.lock
Due: eslint --fix, sort-package-json

Add images dir to files in package.json
  package.json
Due: sort-package-json

v0.17.0
  package.json
Due: sort-package-json

Update changelog
  CHANGELOG.md
Due: none

Upgrade readme-md
  CHANGELOG.md
  package.json
  yarn.lock
Due: sort-package-json

Document the hero-image config option
  CHANGELOG.md
  doc/README.md
Due: none

Update link in changelog
  CHANGELOG.md
Due: none

Update readme-md config
  .config/readme-md/config.yaml
Due: none

Change badge style in readme
  .config/readme-md/config.yaml
  README.md
Due: none

Fix whitespace
  bin/cli.js
Due: eslint --fix

Add keywords to package.json
  package.json
Due: sort-package-json

v0.18.0
  package.json
Due: sort-package-json

Upgrade jasmine
  package.json
  yarn.lock
Due: sort-package-json

Path conditions:
  eslint --fix: any of: *.js
  sort-package-json: any of: package.json
