Repository jbenner-radham/node-readme-md-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

Remove pretest script
  package.json
Due: sort-package-json

Switch from Travis CI to GitHub Actions
  .config/readme-md/config.yml
  .github/workflows/ci.yaml
  .travis.yml
  README.md
  package.json
  yarn.lock
Due: sort-package-json

Update author property of package.json
  package.json
Due: sort-package-json

Add jsconfig.json
  jsconfig.json
Due: none

Remove outdated comment from .editorconfig
  .editorconfig
Due: none

Upgrade eslint dependency
  .eslintrc.yaml
  package.json
  spec/.eslintrc.yaml
  yarn.lock
Due: sort-package-json

Update module config in jsconfig.json
  jsconfig.json
Due: none

Rename test files
  spec/directory-exists.spec.js
  spec/load-config-template.spec.js
  spec/readme-md-cli.spec.js
Due: eslint --fix

Upgrade sort-package-json dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade make-dir dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade jasmine dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade command-exists dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade nyc dependency
  package.json
  yarn.lock
Due: sort-package-json

Convert package to ES modules
  .eslintrc.yaml
  .nycrc
  CHANGELOG.md
  bin/cli.js
  jsconfig.json
  lib/GitHubUrl.js
  lib/GitHubUrlNullObject.js
  lib/License.js
  lib/LicenseBadge.js
  lib/NodeJsBadge.js
  lib/NpmBadge.js
  lib/SeeAlsoSection.js
  lib/TravisCiBadge.js
  lib/UsageSection.js
  lib/attempt-instantiation.js
  lib/attempt.js
  lib/directory-exists.js
  lib/index.js
  lib/load-config-template.js
  lib/load-config.js
  package.json
  spec/directory-exists.spec.js
  spec/load-config-template.spec.js
  spec/readme-md-cli.spec.js
  yarn.lock
Due: eslint --fix, sort-package-json

Add moduleResolution to jsconfig.json
  jsconfig.json
Due: none

Add missing __dirname to test
  spec/readme-md-cli.spec.js
Due: eslint --fix

Update CI specific test for GitHub Actions
  spec/readme-md-cli.spec.js
Due: eslint --fix

Upgrade execa dependency
  package.json
  spec/readme-md-cli.spec.js
  yarn.lock
Due: eslint --fix, sort-package-json

Fix import in bin
  bin/cli.js
Due: eslint --fix

Upgrade meow dependency
  bin/cli.js
  package.json
  yarn.lock
Due: eslint --fix, sort-package-json

Add GitHub Actions badge support
  .config/readme-md/config.yml
  CHANGELOG.md
  README.md
  doc/README.md
  lib/badges/GithubActionsBadge.js
  lib/badges/LicenseBadge.js
  lib/badges/NodeJsBadge.js
  lib/badges/NpmBadge.js
  lib/badges/TravisCiBadge.js
  lib/get-default-git-branch.js
  lib/get-github-workflows.js
  lib/index.js
  package.json
  spec/get-default-git-branch.spec.js
  spec/get-github-workflows.spec.js
  yarn.lock
Due: eslint --fix, sort-package-json

Rename test to spec and restructure directory
  package.json
  test/.eslintrc.yaml
  test/integration/readme-md-cli.spec.js
  test/support/jasmine.json
  test/unit/directory-exists.spec.js
  test/unit/get-default-git-branch.spec.js
  test/unit/get-github-workflows.spec.js
  test/unit/load-config-template.spec.js
Due: eslint --fix, sort-package-json

Add project config support for config.yaml
  CHANGELOG.md
  lib/load-config.js
Due: eslint --fix

Change init template to .yaml extension
  .config/readme-md/config.yaml
  CHANGELOG.md
  bin/cli.js
  lib/load-config-template.js
  template/config.yaml
Due: eslint --fix

Refactor
  lib/GitHubUrlNullObject.js
  lib/GithubUrl.js
  lib/GithubUrlNullObject.js
  lib/index.js
  lib/sections/SeeAlsoSection.js
  lib/sections/UsageSection.js
Due: eslint --fix

Remove support for Travis-CI badges
  CHANGELOG.md
  doc/README.md
  lib/badges/TravisCiBadge.js
  lib/index.js
  template/config.yaml
Due: eslint --fix

Fix typos in the changelog
  CHANGELOG.md
Due: none

Upgrade js-yaml dependency
  package.json
  yarn.lock
Due: sort-package-json

Replace lodash.get with optional chaining
  lib/index.js
  package.json
  yarn.lock
Due: eslint --fix, sort-package-json

Change the casing of badge img alts
  CHANGELOG.md
  lib/badges/LicenseBadge.js
  lib/badges/NodeJsBadge.js
Due: eslint --fix

Refactor
  lib/badges/LicenseBadge.js
  lib/badges/NodeJsBadge.js
  lib/badges/NpmBadge.js
  lib/index.js
Due: eslint --fix

Refactor
  bin/cli.js
  lib/load-config-template.js
  lib/parse-json-file.js
  test/integration/readme-md-cli.spec.js
Due: eslint --fix

Temporarily disable some tests on CI
  test/unit/get-default-git-branch.spec.js
  test/unit/get-github-workflows.spec.js
Due: eslint --fix

Upgrade chalk dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade log-symbols dependency
  package.json
  yarn.lock
Due: sort-package-json

Upgrade tempy dependency
  package.json
  test/integration/readme-md-cli.spec.js
  test/unit/load-config-template.spec.js
  yarn.lock
Due: eslint --fix, sort-package-json

Add afterAll chdir in loadConfigTemplate spec
  test/unit/load-config-template.spec.js
Due: eslint --fix

Prepare for release
  CHANGELOG.md
Due: none

Add "files" property to package.json
  package.json
Due: sort-package-json

Path conditions:
  eslint --fix: any of: *.js
  sort-package-json: any of: package.json
