Repository jbenner-radham/node-readme-md-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.yaml:

---
'*.js': eslint --fix
package.json: sort-package-json

v0.13.0
  package.json
Due: sort-package-json

Update Yarn lockfile
  yarn.lock
Due: none

Add windows CI test job
  .github/workflows/ci.yaml
Due: none

Fix the module resolution in jsconfig.json
  jsconfig.json
Due: none

Update img alt tags in readme
  README.md
Due: none

Refactor and camelcase incoming config keys
  bin/cli.js
  lib/index.js
  lib/load-config.js
  package.json
  test/integration/readme-md-cli.spec.js
  yarn.lock
Due: eslint --fix, sort-package-json

Add index spec
  test/unit/index.spec.js
Due: eslint --fix

Fix typo in changelog
  CHANGELOG.md
Due: none

Upgrade yarn-lockfile-exists dependency
  package.json
  yarn.lock
Due: sort-package-json

Update changelog
  CHANGELOG.md
Due: none

Update usage section of readme
  .config/readme-md/sections/usage.md
  CHANGELOG.md
  README.md
Due: none

Update required Node.js version
  CHANGELOG.md
  package.json
Due: sort-package-json

Update jsconfig
  jsconfig.json
Due: none

Add types
  package.json
  yarn.lock
Due: sort-package-json

Change tested Node.js versions in CI
  .github/workflows/ci.yaml
Due: none

Upgrade sort-package-json
  package.json
  yarn.lock
Due: sort-package-json

Upgrade camelcase-keys
  package.json
  yarn.lock
Due: sort-package-json

Upgrade chalk
  package.json
  yarn.lock
Due: sort-package-json

Upgrade log-symbols and make-dir
  package.json
  yarn.lock
Due: sort-package-json

Upgrade readme-md
  package.json
  yarn.lock
Due: sort-package-json

Upgrade tempy
  package.json
  yarn.lock
Due: sort-package-json

Upgrade lint-staged
  package.json
  yarn.lock
Due: sort-package-json

Upgrade c8
  package.json
  yarn.lock
Due: sort-package-json

Upgrade jasmine
  package.json
  yarn.lock
Due: sort-package-json

Upgrade husky
  .husky/pre-commit
  package.json
  yarn.lock
Due: sort-package-json

Upgrade eslint
  package.json
  yarn.lock
Due: sort-package-json

Remove ESM note in readme
  .config/readme-md/sections/usage.md
  README.md
Due: none

Prepare for release
  CHANGELOG.md
Due: none

Upgrade execa
  package.json
  yarn.lock
Due: sort-package-json

Remove make-dir
  bin/cli.js
  package.json
Due: eslint --fix, sort-package-json

v0.14.0
  package.json
Due: sort-package-json

Upgrade meow
  CHANGELOG.md
  bin/cli.js
  package.json
  yarn.lock
Due: eslint --fix, sort-package-json

Upgrade eslint
  .eslintrc.yaml
  eslint.config.js
  lib/GithubUrl.js
  package.json
  test/.eslintrc.yaml
  test/integration/readme-md-cli.spec.js
  yarn.lock
Due: eslint --fix, sort-package-json

Add JSDoc annotations and upgrade readme-md
  CHANGELOG.md
  lib/badges/GithubActionsBadge.js
  lib/badges/LicenseBadge.js
  lib/badges/NodeJsBadge.js
  lib/badges/NpmBadge.js
  lib/index.js
  lib/pnpm-lockfile-exists.js
  lib/sections/UsageSection.js
  package.json
  yarn.lock
Due: eslint --fix, sort-package-json

Regenerate lockfile
  yarn.lock
Due: none

Update docs
  CHANGELOG.md
  doc/README.md
Due: none

Add Jasmine reporter
  eslint.config.js
  package.json
  test/helpers/reporter.js
  yarn.lock
Due: eslint --fix, sort-package-json

Fix false positives in tests
  test/integration/readme-md-cli.spec.js
  test/unit/index.spec.js
Due: eslint --fix
